DATABASE_URL="postgresql://postgres.bvkrtmciejmigemtxumd:SFA%40123@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&pool_timeout=20"
JWT_SECRET="your-super-secret-jwt-key-here-make-it-long-and-secure"
JWT_EXPIRES_IN="720h"
PORT="3000"
NODE_ENV="development"
API_PREFIX="api"
SAGE300_CONNECTION_STRING="postgresql://postgres.bvkrtmciejmigemtxumd:SFA%40123@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&pool_timeout=20"
MIDDLEWARE_CONNECTION_STRING="postgresql://postgres.bvkrtmciejmigemtxumd:SFA%40123@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&pool_timeout=20"
SMARTRIX_CONNECTION_STRING="postgresql://postgres.bvkrtmciejmigemtxumd:SFA%40123@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&pool_timeout=20"
DIRECT_URL="postgresql://postgres:SFA%40123@db.bvkrtmciejmigemtxumd.supabase.co:5432/postgres"
RESEND_API_KEY=your_resend_api_key_here
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlXzMyNjM4NWQyYjcyNGEzZGNlYTI1NDQ0Yzk5NGMzOTFiZTIzMWEwZTA5NmQwMDE3NDE1ODMwOGNkZDlkOGM5M2UiLCJhcHBJZCI6IjF4NDdndTM0em4iLCJyZWdpb25zIjpbInNlYTEiXX0='